html{
  font-family: sans-serif;
}

form label{
  font-size: 10px;
  font-style: italic;
  color: #9ca3af;
}

input{
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 10px 5px;
  margin: auto;
}

input:focus{
  border-color: rgb(145, 196, 255);
}

button{
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  background-color: black;
  border-radius: 10px;
  border-width: 0px;
}

button:hover, 
button:focus{
  background-color: rgb(76, 76, 76);
}
