.sessions.area {
    background-color: rgb(222, 221, 221);
    padding: 1.5rem;
    min-width: 0;
    width: 100%;
    border-radius: 16px;
    height: 80vh;
    overflow: scroll;
}

hr{
    margin: 5px auto;
}

h2, h2 + button{
    display: inline;
    margin: 0 10px;
}

.sessions.area h2 + button{
    flex-wrap: wrap;
    padding: 16px;
    color: rgb(0 0 0 / .8);
    background-color: rgb(0 0 0 / .0);
    text-decoration: underline;
}

.sessions.area h2 + button:hover, 
.sessions.area h2 + button:focus{
    background-color: rgb(0 0 0 / .0);
    text-decoration: none;
    cursor: pointer;
}
.sessions.area ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;

    width: 100%;
    padding: 0;
    margin: 30px auto;
    list-style: none;
}

.session.card {
    min-width: 0;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 150px;
    
}

.session.card .id{
    font-size: 10px;
    font-style: italic;
    opacity: .5;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.session.card .id::before{
    content: "ID:";
}

.session.card .card.button{
    display: grid;
    opacity: 0;
    transition: 0.2s ease;
    position: absolute;
    right: 20px;
    top: 20px;

}

.session.card:hover .card.button{
    opacity: 1;
    
}

.session.card .card.button button{
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}