.words.area{
    background-color: darkgray;
    padding: 0.75rem 1.25rem;
    min-width: 0;
    border-radius: 16px;
    height: 80vh;
    overflow: scroll;
}

.words.area ul{
    display: grid;
    width: 100%;
    column-gap: 10px;
    list-style: none;
    gap: 10px;
}

.wordcard{
    text-align: center;
    padding: 1rem;
}

.wordcard, .wordcard.selected{
    background-color: white;
    border-radius: 10px;
}

.wordcard.selected{
    border: 3px solid rgb(255, 200, 0);
}

.wordcard button{
    margin: 10px 10px;
    width: 30%;
    max-width: none;
    
}
.wordcard span{
    display: flex;
    margin: auto;
    text-align: center;
}